/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* HEADER
/*******************************************/

header {
  height: 10vh;;
}

nav ul {
  margin: 0;
  padding-top: 10px;
}



/******************************************
/* LAYOUT
/*******************************************/

/*Hero Section*/

  .hgroup {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin: 2em;
  }

  .hgroup div > * {
    display: inline;
    vertical-align: middle;    
  }

  .hgroup h3 {
    margin-left: 55px;
  }

  #logo {
    width: 2em;
    height: 2em;
    padding: 2px;
    margin: 10px;
    border-radius: 5%;
    background-color: rgb(30, 29, 31);
  }

/*Form: Add User*/

  form {
    margin-left: 85px;
    display: block;
  }

  .add-user fieldset {
    border: none;
    padding: 0;
    margin: 0 0 1.5em 0;
  }

  input {
    margin: 0 0.5em;
  }

  form span {
    padding: .25em;
  }


/*Leaderboard Section*/

  .leaderboard {
    max-width: 75vw;
  }

  table {
    margin: 40px 0 0 85px;
    border-collapse: collapse;
    width: 100%;
    text-align: left; 
  }

  th, td {
    padding: 10px;
    /* border: 1px solid red; */
  }

  tr {
    border-bottom: 2px solid rgb(62, 63,  66);
  }

/******************************************
/* THEME
/*******************************************/

html {
  color: rgb(246, 246, 247)
}

header {
  background-color: rgb(36, 37, 38);
}

body {
  background-color: rgb(24, 25, 26);
}

/******************************************
/* STATES
/*******************************************/


/******************************************
/* IMAGES
/*******************************************/

/******************************************
/* TYPOGRAPHY
/*******************************************/

html {
  font-family: Lato, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/


/******************************************
/* ANIMATIONS
/*******************************************/

  /*Error message fade in and out*/

  .fade-in-out {
    background-color: rgba(163, 63, 41, 0.886);
    animation: fadeIn ease 1s, fadeOut ease 2s 5s;
    -webkit-animation: fadeIn ease 1s, fadeOut ease 2s 5s;
    -moz-animation: fadeIn ease 1s, fadeOut ease 2s 5s;
    -o-animation: fadeIn ease 1s, fadeOut ease 2s 5s;
    -ms-animation: fadeIn ease 1s, fadeOut ease 2s 5s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-moz-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-webkit-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-o-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-ms-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
   }
  }