/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

.hero {
  display: flex;
}

h1 {
  flex: 3;
  display: inline-flex;
  vertical-align: text-bottom;    /*Make logo and h1 text align*/
}

aside {
  justify-self: flex-end;
  flex: 1;
}

/******************************************
/* THEME
/*******************************************/

header {
  background-color: rgb(36, 37, 38);
}

html {
  color: rgb(246, 246, 247)
}

body {
  background-color: rgb(24, 25, 26);
}


/******************************************
/* IMAGES
/*******************************************/

#logo {
  width: 50px;
  height: 50px;
  padding: 2px;
  margin: 10px;
  border-radius: 5%;
  background-color: rgb(30, 29, 31);
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

html {
  font-family: Lato, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
